
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/canvas-js/canvas.js"></script>
@*<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
@*<script src="~/lib/canvasjs/canvasjs.min.js"></script>*@


@Html.AntiForgeryToken()




<div class="row" style="margin-top: 25px; background: white; ">

    <div class="col-12">

        @{
            Html.RenderPartial("~/Views/Shared/_GameStatisticPieChartPartial.cshtml");
        }

    </div>
</div>



<div class="row" style="background: white; ">


    <div class="col-12">

        @{
            Html.RenderPartial("~/Views/Shared/_GameStatisticBarChartPartial.cshtml");
        }


    </div>
</div>

